html,
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
  --bg-cda: #FAFCFF; 
  --text-color: #161D2A;
  --text-color-2: #FAFCFF;
  --text-color-3: #FAFCFF;
  --text-color-4: #161D2A;
  --bg-container: #F6F8FF;
  --bg-container-2: #F6F8FF;
  --accent-color: #1239B5;
  --accent-color-2: #384cdc;
  --btn-color: #2839BC;
  --element-size: 60px;
  --additional-color: #FFFFFF;
  --additional-color-2: #161D2A;
}

:root.dark-theme {
  --bg-cda: #161D2A; 
  --bg-container: #121926;
  --bg-container-2: #0f31a1;
  /* warna card */
  --card-color: #1E2739;
  --btn-color: #FFFFFF;
  --text-color: #FAFCFF;
  --text-color-2: #161D2A;
  --text-color-3: #FAFCFF;
  --text-color-4: #FAFCFF;
  --additional-color: #161D2A;
  --additional-color-2: #161D2A;
}